language: php

sudo: false

php:
  - 5.6
  - 7
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

before_script:
  - composer self-update
  - composer install --prefer-source

notifications:
  email: false

script:
  - ./vendor/bin/phpunit

